
:root {
    --orange-color: #f49100;
    --green-color: #005667;
    --light-green-color: #9fca75;
    --grey-color: #e0e0e0;
    
    --pink-color: #e8335e;
    --yellow-color: #d3d80a;
    
    --tuerkis-color: #2cb8c5;
    --lila-color: #77358c;
    --light-purple-color: #e5395a;
    --light-red-color: #c1645a;
}

body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    
    /* center horizontally und vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%) translateY(-50%);
    
    text-align: center;
    font-size: 60px;
    line-height: 1.5;
    
    /*margin: 10px;*/
}

h1, h2 {
    color: var(--light-green-color);
    margin-top: 0px;
    margin-bottom: 0px;
}
h3, h4, h5 {
    color: var(--tuerkis-color);
    margin-top: 0px;
    margin-bottom: 0px;
}
h1 {
    font-size: 380px;
}
h2 {
    font-size: 180px;
}
h3 {
    font-size: 160px;
}
h4 {
    color: var(--light-red-color);
    font-size: 140px;
}

/* to get the bullets in the centering, too */
ul {
    display: inline-block;
    /*list-style-position: inside;*/
    margin: 0 auto;
    position: relative;
    /*width: 40px;*/
}

.line {
    width: 10px;
    background-color: yellow;
}

.bible {
    min-width: 1400px;
    padding-top: 80px;
    padding-right: 60px;
    padding-bottom: 40px;
    padding-left: 60px;
    color: #333;
    background-color: #e0e0e0;
    font-style: italic;
    text-align: justify;
    border-radius: 2px;
    
    /*transform: translateZ(50px);*/
}
.bible-quote-first {
    color: #888;
    font-size: 100px;
    text-align: left;
    line-height: 34px;
    height: 5px;
}
.bible-quote-last {
    color: #888;
    font-size: 100px;
    text-align: right;
    line-height: 5px;
    height: 5px;
}
.bible-passage {
    color: #777;
    text-align: right;
    margin-top: 0px;
}

/*
.step {
    text-align: center;
    position: relative;
    width: 1600px;
    padding: 40px;
    margin: 20px auto;
    box-sizing: border-box;
    font-size: 60px;
    line-height: 1.5;
}
*/
